@charset 'utf-8';
html, body, canvas, .overlay {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #212121;
	overflow: hidden;
	font-family: sans-serif;
}
.overlay {
	z-index: 1;
	background: transparent;
}
.hide {
	display: none !important;
}
h1 {
	display: block;
	margin: 32px 0 0 0;
	width: 100%;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-size: 64px;
	color: #efefef;
	user-select: none;
}
p {
	display: block;
	width: 80%;
	margin: 32px auto;
	color: #efefef;
}
.button {
	display: block;
	margin: 8px auto;
	border-radius: 8px;
	padding: 8px 0;
	width: 20%;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background-color: #36f;
	cursor: pointer;
	transition: background-color 200ms ease-in-out;
	user-select: none;
}
.button:hover {
	background-color: #14d;
}
#title {
	margin-top: 128px;
	height: 192px;
	line-height: 96px;
	user-select: none;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
@keyframes play {
	0% {text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);}
	50% {text-shadow: 1px 1px 1px rgba(255, 255, 255, 0);}
	100% {text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);}
}
#play {
	display: block;
	margin: 256px auto 0 auto;
	padding: 8px;
	width: 256px;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	color: #efefef;
	animation-name: play;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	cursor: pointer;
	user-select: none;
}
#reset {
	position: fixed;
	bottom: 128px;
	left: 40%;
}
.bottom {
	position: fixed;
	bottom: 32px;
	display: block;
	width: 100%;
	height: 48px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #efefef;
	user-select: none;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
#hint {
	position: fixed;
	top: 16px;
	right: 16px;
	display: block;
	margin: 0;
	padding: 16px;
	height: 32px;
	line-height: 32px;
	font-size: 20px;
	text-align: right;
	color: #efefef;
	cursor: pointer;
	user-select: none;
}
#hint::after {
	position: absolute;
	top: 4px;
	left: 52px;
	content: '2';
	display: block;
	margin: 0;
	border-radius: 12px;
	padding: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #f63;
}
#hint.data-1::after {
	content: '1';
}
#hint.data-0::after {
	display: none;
}