@charset 'utf-8';
html, body, canvas, #overlay, #titlescreen {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #212121;
	overflow: hidden;
	font-family: sans-serif;
}
#overlay, #titlescreen {
	z-index: 1;
	background: transparent;
}
.hide {
	display: none !important;
}
h1 {
	display: block;
	margin: 32px 0 0 0;
	width: 100%;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-size: 64px;
	color: #efefef;
}
p {
	display: block;
	width: 80%;
	margin: 32px auto;
	color: #efefef;
}
.button {
	display: block;
	margin: 8px auto;
	border-radius: 8px;
	padding: 8px 16px;
	width: 128px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background-color: #36f;
	cursor: pointer;
	transition: background-color 200ms ease-in-out;
}
.button:hover {
	background-color: #14d;
}